/* -**************************
    botones con efecto 
************************** */

.card-img-top {
    height: 200px; 
    object-fit: cover;
}

.contenedor{
    display: flex;
    height: 15vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btn{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    text-indent: 10px;
    z-index: 2;
    border-radius: 20px;
    font-size: 15px;
}

.btn-5{
    border: 3px solid #FFE599;
    margin:0;
    overflow: hidden;
}

.btn-5::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFE599;
    z-index: -2;
}

.btn-5::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: #FFF2CC;
    
    z-index: -1;
}

.btn-5:hover::before{
    animation: btn-5 2s linear both;
}


@keyframes btn-5 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}


/* -**************************
        buscador y boton
************************** */
.container_buscar {
    display: flex; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

input {
    flex: 1;
    padding: 10px;
    padding-right: 40px; 
    border-radius: 5px 0 0 5px;
    border: 1px solid #ced4da; 
    outline: none;
    font-size: 1rem;
}

button {
    background-color: #FFB6C1;
    padding: 10px;
    border: none; 
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


button i {
    font-size: 1.2rem; 
}


/* -**************************
        span de filtro
************************** */
.botones_filtro {
    background-color: #FFF2CC; 
    color: black; 
    font-size: 1rem; 
    padding: 10px 20px; 
    margin-bottom: 10px; 
    display: block; 
    font-weight: normal; 
    text-decoration: none; 
    border-radius: 40px; 
    text-align: center;
    border: 1px solid transparent; 
}

.botones_filtro:hover {
    background-color: rgb(252, 232, 171); 
    color: black; 
    text-decoration: none; 
    border: 1px solid transparent; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
