@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: #000000;
  background: #FFDBDBA6;
}

.fondo-imagen img {
  width: 100%; /* O el porcentaje o valor que desees */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta cómo se muestra la imagen */
  position: absolute; /* Para que se posicione correctamente en relación al contenedor */
  top: 0; 
  left: 0;
  z-index: -10;
  opacity: 0.7;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #000000;
}
.link:hover {
  color: #ffffff;
}
p {
  font-weight: 500;
  font-size: 14px;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}

.card-3d-wrap {
  position: relative;
  width: 800px;
  max-width: 100%;
  height: 370px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-login, .card-registro {
  width: 100%;
  background-color: #ce93b8;
  background-image: url('/img/pattern_japanese-pattern-2_1_2_0-0_0_1__ffffff00_000000.png');
  position: absolute;
  border-radius: 2rem;
  -webkit-transform-style: preserve-3d;
}

.card-login{
  height: 145%;
}


.card-registro {
  transform: rotateY(180deg);
  height: 145%;
}

.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 50px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #000000;
  background-color: #ffececa6;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 12px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background-color: #FFDBDBA6;
  color: #000000;
}
.btn:hover{  
  background-color: #FFDBDBA6;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}


.info-icon {
    position: relative;
    cursor: pointer;
}

/* Tooltip para mostrarse arriba y centrado */
.tooltip-validation {
    display: none;
    position: absolute;
    bottom: 150%; /* Mueve el tooltip arriba del icono */
    left: 50%; /* Centra el tooltip horizontalmente */
    transform: translateX(-50%); /* Centrado completo */
    width: 18rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #333;
    z-index: 100;
}

.info-icon:hover .tooltip-validation {
    display: block;
}

.invalid {
    color: #d9534f;
}
.valid {
    color: #5cb85c;
}
.highlighted {
    color: #5cb85c; /* Cambia el color del icono cuando un requisito se cumple */
}
/*hasta acá*/

.input-group {
  position: relative; /* Asegura que los elementos dentro se alineen bien */
}

.input-group-text {
  position: absolute;
  right: 10px; /* Ajusta a la derecha */
  top: 50%;
  transform: translateY(-50%); /* Centra el ícono verticalmente */
  z-index: 10; /* Asegura que el icono esté por encima del campo */
  background: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ojo */
}

#eye-icon {
  pointer-events: all; /* Asegura que el ícono sea clickeable */
}

