/* -**************************
        colores
************************** */

:root{
    --primary-color: #FFB6C1;
    --secundary-color: #FFE599; 
    --tertiary-color: #444444; 
    --background-color: #f9f5f0;
    --dark-color: #151515;
    --boton: #17a2ff;
}


/* -**************************
        Banner
************************** */


.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url('https://floristeria.s3.sa-east-1.amazonaws.com/fondo_flores.jpg');
    height: 55rem; 
    background-size: cover;
    background-position: center;
    margin-top: 0; /* Eliminar margen superior */
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 6rem;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #000000;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
}



/* -**************************
        main content
************************** */
.main-content {
    background-color: var(--background-color);
    display: flex; /* Cambio agregado */
    justify-content: space-between; /* Cambio agregado */
    margin-top: 0.5rem;
    padding: 0 4rem; /* Ajusta el relleno aquí según tu preferencia */
}

/* -**************************
        features
************************** */
.container-factures {
    width: 100%; /* Asegura que el ancho sea del 100% */
}

.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem ;
}

.card-feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.heading-1{
    text-align: center;
    font-weight: 500;

    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--dark-color);
}


.feature-content p{
    color: #777;
    font-weight: 500;
}


/* -**************************
        categories
************************** */

.top-categorires{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    border-radius: 2rem;
    gap: 2rem;
}

.category-flores{
    background-image: linear-gradient(#00000080, #00000080), url('https://floristeria.s3.sa-east-1.amazonaws.com/tipo_flores.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-ocasiones{
    background-image: linear-gradient(#00000080, #00000080), url('https://floristeria.s3.sa-east-1.amazonaws.com/ocasiones.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.category-complementos{
    background-image: linear-gradient(#00000080, #00000080), url('https://floristeria.s3.sa-east-1.amazonaws.com/dulces_complementos.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p{
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: var(--primary-color);
}


/* -**************************
        top products
************************** */

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    transition: ease 0.5s;
}

.container-options span:hover{
    background-color: var(--secundary-color);
    color: #000000;
}

.container-options span.active{
    background-color: var(--secundary-color);
    color: #000000;
}


.card{
    border-radius: 15px;
    padding: 1rem;
}

.mr-3{
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    scale: 1.0;
    transition: all 1s ease;
}

.mr-3:hover{
    scale: 1.1;
}

.mx-3{
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    scale: 1.0;
    transition: all 1s ease;
}

.mx-3:hover{
    scale: 1.1;
}

/* -**************************
    Galeria de imagenes
************************** */
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 16rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fffbec;
    padding: 0.5rem;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-img-3{
    grid-column:2/4;
    grid-row: 1/3;
}


/* -**************************
    preview del producto
************************** */

.custom-btn-pink {
    background-color: #ff69b4; /* Cambia el color a tu tono de rosa preferido */
    color: rgb(0, 0, 0); /* Cambia el color del texto para que sea visible en el fondo rosa */
    border-color: #6c757d; /* Cambia el color del borde si es necesario */
    scale: 1.0;
    transition: ease 1s;
}

.custom-btn-pink:hover {
    background-color: #ff4d94; /* Cambia el color de fondo al pasar el mouse sobre el botón */
    border-color: #6c757d; /* Cambia el color del borde al pasar el mouse sobre el botón */
    color: rgb(0, 0, 0); /* Cambia el color del texto para que sea visible en el fondo rosa */
    scale: 1.1;
}
.img-fluid{
    border-radius: 15px;
}

.container{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}


.action-buttons {
    border-top: 1px solid var(
        --gray);
    padding-top: 16px;
    gap: 12px;
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
}

.action-buttons a {
    background-color:#e05e7c;
    color: white !important;
    padding: 12px;
    text-decoration: none;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 0 240px;
    max-width: 100%;
    box-shadow: 5px 5px 10px rgb(245, 170, 229);
}

.action-buttons1 {
    border-top: 1px solid var(
        --gray);
    padding-top: 16px;
    gap: 25px;
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
}

.action-buttons1 a {
    background-color:#000000;
    color: white !important;
    padding: 12px;
    text-decoration: none;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 0 240px;
    max-width: 100%;
    box-shadow: 5px 5px 10px rgb(245, 170, 229);
    scale: 1.0;
    transition: ease 1s;
}

.action-buttons1 a:hover {
    scale: 1.1;
}

#btn {
    background-color: #000000;
    color: white !important;
    padding: 12px;
    text-decoration: none;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex: 1 0 240px;
    max-width: 100%;
    box-shadow: 5px 5px 10px rgb(245, 170, 229);
    transition: ease 1s;
}

#btn:hover {
    transform: scale(1.1);
}


/* -**************************
        footer
************************** */

footer{
    background-color: var(--primary-color);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000;
}

.contact-info,
.information,
.my-account{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    right: 30px;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
}


.information ul li a:hover,
.my-account ul li a:hover{
    color: #fff;
}

.contact-info ul li{
    color: #000;

}


.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 1.2rem;
}

.facebook{
    background-color: #3b5998;
}

.twitter{
    background-color: #00acee;
}

.instagram{
    background: linear-gradient(#405de6, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #fcaf45) ;
}

.whatsapp{
    background-color: #25d366;
}